.rulesBtn{
    color:hsl(0, 0%, 100%);
    font-size: 24px;
    border: 2px solid hsl(0, 0%, 100%);
    display: inline-block;
    padding: 5px 30px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    &:hover{
        color:hsl(0, 0%, 64%);
        font-size: 24px;
        border: 2px solid hsl(0, 0%, 64%);
    }
}
@media (max-width: 600px){
    .rulesBtn{
        right: 35%;
    }
}